*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Project {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    backdrop-filter: blur(10px);
    margin-top:2em;
}

.projectContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 40px 0;
}

.projectBox {
    position: relative;
    display: flex;
    width: 300px;
    height: 400px;
    justify-content: center;
    align-items: center;
    margin: 40px 30px;
    transition: 0.5s;
}

.projectContent {
    position: relative;
    left: 0;
    padding: 20px 40px;
    color: #f0f8ff;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    z-index: 1;
    transition: 0.5s;
}

.projectContent h2{
    font-size: 1.8em;
    color: #fff;
    margin-bottom: 10px;
}

.projectContent p{
    font-size: 1.1em;
    margin-bottom: 10px;
    line-height: 1.4em;
}

.projectContent a{
    display: inline-block;
    font-size: 1.1em;
    color: rgb(57, 61, 85);
    padding: 10px;
    text-decoration: none;
    font-weight: 700;
    margin-top: 5px;
    transition: 0.6s;
}

.projectBox:hover .projectContent{
    left: -25px;
    padding: 60px 40px;
}

.projectContent a:hover{
    color:  rgb(255, 227, 113);
    border-bottom: 5px solid #ffe3718f;
}

.projectBox::before{
    content: "";
    position: absolute;
    background: #fff;
    top:0px;
    left: 50px;
    width: 60%;
    height: 100%;
    border-radius: 8px;
    text-decoration: none;
    transform: skewX(15deg);
    transition: 0.5s;
}

.projectBox::after{
    content: "";
    position: absolute;
    background: #fff;
    top: 0;
    left: 50px;
    width: 50%;
    height: 100%;
    border-radius: 8px;
    transform: skewX(15deg);
    filter: blur(30px);
    transition: 0.5s;
}

.projectBox:hover::before,
.projectBox:hover::after{
    transform: skewX(0deg);
    left:20px;
    width: calc(100% - 80px);
    border-radius: 8px;
}

.projectBox:nth-child(1)::before,
.projectBox:nth-child(1)::after{
    background: linear-gradient(315deg, rgba(252, 251, 212, 0.711), rgb(191, 153, 141));
}

.projectBox:nth-child(2)::before,
.projectBox:nth-child(2)::after{
    background: linear-gradient(315deg, rgb(135, 186, 207), rgb(191, 153, 141));
}

.projectBox:nth-child(3)::before,
.projectBox:nth-child(3)::after{
    background: linear-gradient(315deg, rgba(178, 203, 142, 0.707), rgba(191, 153, 141, 0.849));
}

.projectBox span{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
    pointer-events: none;

}

.projectBox span::before{
    content: "";
    position: absolute;
    background: rgba(255, 255, 255, 0.1);
    top:0;
    left: 0;
    width: 0;
    height: 0;
    opacity: 0;
    transition: 0.3s;
    backdrop-filter: blur(10px);
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
}

.projectBox:hover span::before{
    opacity: 1;
    top:-50px;
    left: 50px;
    width: 100px;
    height: 100px;
}

.projectBox span::after{
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    opacity: 0;
    transition: 0.5s;
    backdrop-filter: blur(10px);
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
    animation: animate 2s ease-in-out infinite;
    animation-delay: -1s;
}

.projectBox:hover span::after{
    bottom: -50px;
    right: 50px;
    width: 100px;
    height: 100px;
    opacity: 1;
}

@keyframes animate {
    0%,
    100%{
        transform:  translateY(10px);
    }
    50%{
        transform: translate(-10px);
    }
}